:root {
  --fontColorDefault: #b12f2f;
  
  --shadowBox: 0 0 8px rgba(0, 0, 0, 0.16);
  --shadowPremiumHeader: 0 8px 8px 0 rgba(0, 0, 0, 0.08);
  --shadowPopupBottom: 0 -2px 8px rgba(0, 0, 0, 0.08);
}
